<?xml version="1.0"?>
<!-- 
    注意: 除了手動編輯此文件以外，您還可以使用 
    Web 管理工具來配置應用程序的設置。可以使用 Visual Studio 中的
     「網站」->「Asp.Net 配置」選項。
    設置和註釋的完整列表在 
    machine.config.comments 中，該文件通常位於 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- 
            設置 compilation debug="true" 將調試符號插入
            已編譯的頁面中。但由於這會 
            影響性能，因此只在開發過程中將此值 
            設置為 true。
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            通過 <authentication> 節可以配置 ASP.NET 使用的 
            安全身份驗證模式，
            以標識傳入的用戶。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在執行請求的過程中出現未處理的錯誤，
            則通過 <customErrors> 節可以配置相應的處理步驟。具體說來，
            開發人員通過該節可以配置
            要顯示的 html 錯誤頁
            以代替錯誤堆棧跟蹤。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
