*.txt
PanGuSegment/Demo/obj/Debug/Demo.csproj.FileListAbsolute.txt
PanGuSegment/DictManage/obj/Debug/DictManage.csproj.FileListAbsolute.txt
PanGuSegment/PanGu/obj/Debug/PanGu.csproj.FileListAbsolute.txt
PanGuSegment/PosDisplayCtrl/obj/Debug/PosDisplayCtrl.csproj.FileListAbsolute.txt